
/* blue-1 being the lightest */
:root {
 --main-font: 'Titillium Web', sans-serif;
 --blue-5: #070b17;
 --blue-4: #3150a5;
 --blue-3: #4773ec;
 --blue-2: #7e9df1;
 --blue-1: #c7d5f9;
 --main-white: #e3e3e3;
 --dark-white: #b5b5b5;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  line-height: 1.4;
}

p {
  font-family: var(--main-font);
}

/*--- Navigation bar ---*/
.navbar {
  background-color: var(--blue-5);
}

#brand-name:hover {
  color: var(--dark-white);
}


.nav-link,
.navbar-brand,
#contactdropdown {
  color: var(--main-white);
  cursor: pointer;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}

.nav-link {
  margin-right: 1em !important;
}

.nav-link:hover {
  color: var(--dark-white);
}

.navbar-collapse {
  justify-content: flex-end;
}

.dropdown-menu{
  background-color: var(--blue-5) !important;
}

.dropdown-item {
  font-family: var(--main-font) !important;
  font-size: 14px;
  color: var(--main-white) !important;
}

.dropdown-item:hover{
  color: var(--blue-5) !important;
}

#btn-signup-menu-collapsed, #btn-login-menu-collapsed {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 14px;
  margin-right: 1em !important;
}

#btn-signup-menu-collapsed {
  background-color: var(--blue-1);
  color: var(--blue-4);
  margin-left: 1em !important;
}

#btn-login-menu-collapsed{
  background-color: var(--blue-5);
  color: var(--main-white);
  border-color: var(--main-white);
}

/*--- Background image header ---*/
.header-description-image {
  background-image: url('../img/running-back-2.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(7, 11, 23, 0.2);
}

#main-logo,
#header-text {
  font-weight: 400;
  line-height: 1.4;
}

#main-logo {
  padding-top: 100px;
  padding-bottom: 50px;
  font-family: var(--main-font);
  font-size: 50px;
  color: var(--blue-2);
  text-align: left;
}

#header-text {
  padding-top:15px;
  padding-bottom: 100px;
  font-family: var(--main-font);
  font-size: 20px;
  max-width: 40%;
  color: var(--blue-1);
  text-align: left;
}

.join-btn-header {
  margin-bottom: 100px;
  background-color: var(--blue-1);
  color: var(--blue-4);
}


/** Mobile **/
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  #btn-signup-menu-collapsed, #btn-login-menu-collapsed {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
    margin-right: 0em !important;
    width:60%;
    text-align: center;
  }
  
  #btn-signup-menu-collapsed {
    background-color: var(--blue-1);
    color: var(--blue-4);
    margin-left: 0em !important;
  }
  
  #btn-login-menu-collapsed{
    background-color: var(--blue-5);
    color: var(--main-white);
    border-color: var(--main-white);
  }
  
  .header-description-image {
    background-image: url('../img/running-back-mobile-2.jpg')
  }

  #main-logo {
    display: none;
  }

  #header-text {
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 16px;
    text-align: left;
    max-width: 58%;
  }

  .join-btn-header {
    font-size: 16px;
    margin-bottom: 50px;
  }
}

/* Methodology section */
#methodology {
  background: var(--main-white);
}

.methodology-section{
  text-align: center;
  padding: 10rem 2rem;
}

.methodology-section-header {
  max-width: 640px;
  margin: 0 auto 3rem auto;
  padding-top: 2rem;
  font-size: 32px;
  font-weight: 600;
}

.methodology-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 2rem auto;
  margin-bottom: 6rem;
}

.methodology {
  background: var(--blue-1);
  border-radius: 2px;
  margin-bottom: 2rem;
}

.methodology-description {
  height: 150px;
}

.code {
  color: var(--main-white);
  background-color: var(--blue-5);
  text-align: center;
  font-weight: 600;
}

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .methodology-section-header {
    font-size: 20px;
  }

  .methodology-section {
    padding: 6rem 1rem;
  }

  .methodology-grid {
    grid-template-columns: 1fr;
  }
}
