:root {
  --main-font: 'Roboto', sans-serif;
  --dark-blue: #070B17;
  --light-grey: #F0F3F5;
  --blue: #3150A5;
  --light-blue: #C7D5F9;
  --black: #000;
  --white: #FFF;
  --pink: #E03B75;
  --teal: #41D1FF;
 }

header {
  position: relative;
  background-color: var(--dark-blue);
  height: 100vh;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--dark-blue);
  opacity: 0.9;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .show-desktop-video {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .show-mobile-video {
    display: none;
  }
}

#main-logo,
#header-text {
  font-weight: 400;
  line-height: 1.4;
}

#main-logo {
  margin-top: 25vh;
  font-style: italic;
  font-family: var(--main-font);
  font-size: 60px;
  color: var(--blue);
}

#header-text {
  margin-top:10vh;

  font-family: var(--main-font);
  font-size: 40px;
  color: var(--light-blue)
}

.join-btn-header {
  margin-top: 10vh;
  background-color: var(--pink);
  color: var(--white);
  border-radius: 34px !important;
}

.join-btn-header:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  color: var(--white);
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  #main-logo {
    font-size: 30px;
  }

  #header-text {
    font-size: 24px;
  }

  .join-btn-header {
    margin-top: 10vh;
  }

}